.tripleSection {
  position: relative;
  height: 300vh;
  overflow: hidden;
}

.timelineLine {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 0.25rem;
  background-color: rgb(229 231 235);
  transform: translateX(-50%);
}

.timelineProgress {
  width: 100%;
  height: 100%;
  background-color: rgb(37 99 235);
  transform-origin: top;
  transition: height 0.3s ease-out;
}

.timelineDot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: rgb(37 99 235);
  border-radius: 50%;
  border: 0.25rem solid white;
  z-index: 10;
}

.timelineDotTop1 {
  top: 16.66%;
  left: 50%;
  transform: translateX(-50%);
}

.timelineDotTop2 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.timelineDotTop3 {
  top: 83.33%;
  left: 50%;
  transform: translateX(-50%);
}

.slide {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media (min-width: 768px) {
  .slide {
    padding: 4rem;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.slideImg {
  position: relative;
  width: 100%;
  height: 24rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
  align-self: center;
}

/* GSAP compatibility */

@media (min-width: 768px) {
  .slideImg {
    width: 45%;
    margin-right: 2rem;
  }
}

.slideText {
  width: 100%;
  padding: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* GSAP compatibility */

@media (min-width: 768px) {
  .slideText {
    width: 45%;
    padding: 4rem;
    margin-left: 2rem;
  }
}

.divider {
  display: none;
}

.accent {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: rgb(37 99 235);
}

@media (min-width: 768px) {
  .accent {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .accent {
    font-size: 3rem;
    line-height: 1;
  }
}